@use "./components/mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

:root {
    --primary-selection-bg-color: #12b99a;
    --primary-selection-font-color: #ffffff;

    --primary-bg-color: #000000;
    --primary-color: #FFFFFF;
}

::selection {
    background: var(--primary-selection-bg-color);
    color: var(--primary-selection-font-color);
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: visible;
    }
}

h1 { @include mixins.fluid-text(40, 28) }
h2 { @include mixins.fluid-text(36, 26) }
h3 { @include mixins.fluid-text(32, 24) }
h4 { @include mixins.fluid-text(28, 22) }
h5 { @include mixins.fluid-text(24, 20) }
h6 { @include mixins.fluid-text(20, 18) }
p  { @include mixins.fluid-text(16, 14) }

img, svg {
    user-select: none;
}

#root {
    width: 100%;
    background: var(--primary-bg-color);
    color: var(--primary-color);
    overflow: hidden;
    @include mixins.fadeIn(1.2s, ease-in-out, 3s, forwards);
}
