#root {
    --nav-bar-bg: #2B2B2B;
    --nav-before-h: 44px;
    --nav-default-color: #BC96FF;
    --nav-selected-color: #FFFFFF;
    --nav-svg-default-color: #BC96FF;
    --nav-svg-selected-color: #D7FF81;

    .MuiBox-root {
        &.nav-bar {
            border-radius: 1.9rem 1.9rem 0 0 !important;
            width: 100vw;
            max-width: 800px;
            height: 100%;
            z-index: 5;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: var(--nav-before-h);
                top: calc(-1 * var(--nav-before-h) / 4);
                background: linear-gradient(to top, #000000, #000000, #000000, transparent);
                border-radius: 1.5rem 1.5rem 0 0;
                z-index: -1;
            }
            
            .MuiBottomNavigation-root {
                background: var(--nav-bar-bg);
                border-radius: 1.9rem 1.9rem 0 0;
                height: 13vh;

                .MuiButtonBase-root {
                    cursor: pointer;
                    min-width: 1.1rem !important;
                    padding: 0;
                    margin: 0;
                    border-radius: 1.9rem 1.9rem 0 0;
                    box-shadow: none;
                    background: var(--nav-bar-bg);
                    color: var(--nav-default-color);
                    -webkit-tap-highlight-color: transparent;
                    font-weight: 400;

                    svg {
                        margin-bottom: 0.3rem;
                        fill: var(--nav-svg-default-color);
                        stroke: var(--nav-svg-default-color);

                        path, rect {
                            fill: var(--nav-svg-default-color);
                            stroke: var(--nav-svg-default-color);
                        }
                    }

                    &.Mui-selected {
                        color: var(--nav-selected-color);

                        svg {
                            fill: var(--nav-svg-selected-color);
                            stroke: var(--nav-svg-selected-color);

                            path, rect {
                                fill: var(--nav-svg-selected-color);
                                stroke: var(--nav-svg-selected-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
