#root {
    --app-btn-bg: #BC96FF;
    --app-btn-color: #121112;

    .MuiButtonBase-root {
        background: var(--app-btn-bg);
        color: var(--app-btn-color);
        font-weight: 700;

        &.text-fon {
            background: #2B2B2B;
            color: #FFFFFF;
            font-weight: 400;
            width: 5.95rem;
        }

        &.nav-btn {
            height: 3.05rem;
            max-height: 3.05rem;
            border-radius: 3.5rem;
            background: #FFFFFF1F;
            color: #FFFFFF;
            font-size: 0.75rem;
        }

        &.icon-btn {
            border-radius: 50%;
            min-width: 2.2rem !important;
            padding-inline: 0.8rem;
        }

        &.rounded {
            border-radius: 2rem;
        }

        &.text-block {
            background: transparent;
            color: #FFFFFF;
            border: 1px solid var(--app-btn-bg);
        }

        &:active {
            scale: 0.95;
        }

        &:hover {
            box-shadow: 0 0 0.5rem #727272;
        }
    }
}
