#root {
    --app-btn-bg: #BC96FF;
    --app-btn-color: #121112;

    .MuiButtonBase-root {
        background: var(--app-btn-bg);
        color: var(--app-btn-color);
        font-weight: 700;

        &.text-fon {
            background: #2B2B2B;
            color: #FFFFFF;
            font-weight: 400;
            width: 5.95rem;
        }

        &.nav-btn {
            height: 3.05rem;
            max-height: 3.05rem;
            border-radius: 3.5rem;
            background: #FFFFFF1F;
            color: #FFFFFF;
            font-size: 0.75rem;
        }

        &.icon-btn {
            border-radius: 50%;
            min-width: 1.1rem !important;
            padding-inline: 0.8rem;
        }

        &.rounded {
            border-radius: 2rem;
        }

        &.text-block {
            background: transparent;
            color: #FFFFFF;
            border: 1px solid var(--app-btn-bg);
        }

        &.lemon-fon {
            background: transparent;
            color: #D7FF81;
            border: 1px solid #D7FF81;
            border-radius: 3.75rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: #D7FF81;
                color: #121112;
            }
        }

        &.lemon {
            background: #D7FF81;
            color: #121112;
            border: 1px solid #D7FF81;
            border-radius: 3.75rem;
        }

        &:active {
            scale: 0.95;
        }

        &:hover {
            box-shadow: 0 0 0.7rem #999999;
        }
    }
}
