@use "../components/mixins";


#root {
    .MuiIconButton-root {
        background: transparent;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: transparent;
                filter: drop-shadow(0 0 10px rgb(162, 162, 162));
            }

            &.notify:hover .MuiSvgIcon-root {
                opacity: 1;
                filter: drop-shadow(0 0 0.8rem rgb(209, 209, 209));
            }
        }

        &.chat-down {
            background: #343434;
            border-radius: 50%;
            position: absolute;
            right: 1.9rem;
            scale: 1.08;
            bottom: 7rem;
            z-index: 1000;
            @include mixins.fadeIn(0.2s, ease-in-out, 0s, forwards);

            .MuiSvgIcon-root {
                color: #a777fa;
            }
        }

        &:active {
            scale: 0.97;
        }

        &.notify {
            background: inherit;
            color: inherit;

            .MuiSvgIcon-root {
                color: inherit;
                opacity: 0.8;
                transition: opacity 0.1s ease;
            }

            &:hover .MuiSvgIcon-root{
                opacity: 1;
                filter: drop-shadow(0 0 0.8rem rgb(209, 209, 209));
            }
        }

        &.link-btn {
            padding: 10px;
            border-radius: 50%;
            background: #0000006f;

            .MuiCircularProgress-root {
                color: #FFFFFF;
            }

            path {
                fill: #FFFFFF;
            }

            &.active {
                background: #FFFFFF;

                path {
                    fill: #FF4365;
                }
            }
        }
    }
}
