#root {
    .MuiChip-root {
        border-radius: 3.75rem;
        height: clamp(1.5rem, 4vh, 1.8rem);

        &.purple {
            background: #BC96FF;
            color: #371F7D;
        }

        &.blure {
            background: #FFFFFF1A;
            color: #FFFFFF;
        }

        &.crimson {
            background: #FF4365;
            color: #FFFFFF;
        }
    }
}
