.MuiDialog-root {
    &.base-confirm {
        .MuiPaper-root {
            background: #2B2B2B;
            color: #FFFFFF;
            border-radius: 1rem;
            border: 1px solid #FFFFFF4D;
            padding: 1.25rem;

            .MuiTypography-root {
                text-align: center;
            }

            .MuiDialogContent-root {
                width: 100%;
                padding: 0;

                .headline {
                    width: 100%;
                }
            }

            .MuiDialogActions-root {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2vw;
                padding-inline: 0;

                @media (max-width: 400px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                }

                .MuiButtonBase-root {
                    width: 100%;
                    border-radius: 3.75rem;
                    height: 3rem;
                    font-weight: 700;
                    margin: 0;

                    &:active {
                        scale: 0.99;
                    }

                    &:disabled {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    &.admin-confirm {
        .MuiDialogContent-root {
            .headline {
                font-weight: 500;
                text-align: start;
                font-size: clamp(0.8rem, 4.5vw, 1.3rem);
            }

            .MuiInputBase-root {
                margin-top: 2vh;
                background: #2B2B2B;
                border-radius: 3rem;
                border: 1px solid #2B2B2B;
                color: #FFFFFF;
                caret-color: #BC96FF;
        
                &.Mui-focused fieldset {
                    border-width: 1px;
                    border-color: #BC96FF;
                }
            }
        }

        .MuiDialogActions-root {
            .MuiButtonBase-root {
                &:first-of-type {
                    border: 1px solid #BC96FF;
                    color: #FFFFFF;
                }

                &:last-of-type {
                    background: #FF4365;
                    color: #121112;
                }
            }
        }
    }

    &.chat-confirm {
        .MuiDialogContent-root {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2vh;

            .headline {
                font-weight: 900;
                text-align: center;
                font-size: clamp(1.5rem, 5.5vw, 1.9rem);
            }

            .text {
                width: 100%;
                font-weight: 400;
                text-align: center;
                font-size: clamp(0.9rem, 3.8vw, 1.2rem);
            }
        }

        .MuiDialogActions-root {
            margin-top: 1.5rem;

            &:has(.to-main-btn) {
                grid-template-columns: 1fr;
            }

            .MuiButtonBase-root {
                border-radius: 3.75rem;
                transition: all 0.2s ease-in-out;

                &.exit-btn {
                    border: 1px solid #D7FF81;
                    background: transparent;
                    color: #D7FF81;
        
                    &:hover {
                        background: #D7FF81;
                        color: #121112;
                    }
                }

                &.close-btn {
                    background: #FF4365;
                    color: #FFFFFF;
                }

                &.to-main-btn {
                    width: 100%;
                    background: #BC96FF;
                    border-color: #BC96FF;
                    color: #121112;
                }
            }
        }
    }

    &.link-confirm {
        .MuiPaper-root {
            width: 100%;
            max-width: 400px;

            .MuiDialogContent-root {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
    
                .text-block {
                    width: 100%;
    
                    .headline, .description {
                        width: 100%;
                        text-align: center;
                        user-select: none;
                    }
    
                    .headline {
                        font-weight: 900;
                        font-size: clamp(1.2rem, 3vw, 1.5rem);
                    }
    
                    .description {
                        margin-top: 0.7rem;
                        font-weight: 400;
                        font-size: clamp(0.9rem, 3vw, 1.1rem);
                    }
                }
    
                .link-block {
                    width: 100%;
                    background: #FFFFFF1F;
                    border-radius: 2rem;
                    padding: clamp(0.85rem, 3vw, 1.25rem);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    &__txt {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .headline {
                            font-weight: 700;
                            font-size: clamp(0.9rem, 4vw, 1.1rem);
                            user-select: none;
                        }

                        .link {
                            font-weight: 400;
                            opacity: 0.5;
                            font-size: clamp(0.7rem, 4vw, 0.9rem);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .MuiIconButton-root {
                        border-radius: 50%;
                        background: #D7FF81;
                        transition: all 0.1s ease;

                        &:hover {
                            box-shadow: 0 0 0.4rem #f0ffd057;
                        }

                        &:active {
                            scale: 0.99;
                            box-shadow: 0 0 0.6rem #f0ffd08b;
                        }
                    }
                }
            }

            .MuiDialogActions-root {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 2.5rem;
                gap: 1rem;

                .MuiButtonBase-root {
                    width: 100%;
                    border-radius: 3.75rem;
                    font-weight: 700;
                    transition: all 0.2s ease-in-out;
                    border: 1px solid #D7FF81;

                    &.send-btn {
                        background: #D7FF81;
                        color: #121112;
                    }
                    
                    &.close-btn {
                        background: transparent;
                        color: #D7FF81;
            
                        &:hover {
                            background: #D7FF81;
                            color: #121112;
                        }
                    }
                }
            }
        }
    }

    &.cropper-confirm {
        .MuiDialog-container {
            width: 100%;
            padding: 0;

            .MuiPaper-root {
                width: 100%;
                height: 70vh;

                .MuiDialogContent-root {
                    position: relative;
                    height: 40vh;
                }

                .MuiDialogActions-root {
                    margin-top: 1rem;

                    .MuiButtonBase-root {
                        &.exit-btn {
                            background: transparent;
                            color: #D7FF81;
                            border: 2px solid #D7FF81;
            
                            &:hover {
                                background: #D7FF81;
                                color: #121112;
                            }
                        }

                        &.save-btn {
                            background: #D7FF81;
                            color: #121112;
                        }
                    }
                }
            }
        }
    }
}
