.MuiDrawer-root {
    &.complaint-drawer {
        width: 100%;

        .MuiDrawer-paper {
            margin: 0 auto;
            width: 100%;
            max-width: 800px;
            background: #1B1A1B;
            border-radius: 1.75rem 1.75rem 0 0;
            padding: 33px 20px;

            .header {
                width: 100%;
                position: relative;
                color: #FFFFFF;

                &::before {
                    content: "";
                    position: absolute;
                    width: 63px;
                    height: 4px;
                    background: #D9D9D9;
                    left: 50%;
                    top: -30%;
                    transform: translateX(-50%);
                    border-radius: 1.75rem;
                }

                .headline, .text {
                    width: 100%;
                    text-align: center;
                }

                .headline {
                    font-size: 1.1rem;
                    font-weight: 900;
                }

                .text {
                    margin-top: 0.5rem;
                    font-weight: 300;
                }
            }

            .loader {
                height: 15vh;
                
                .MuiCircularProgress-svg circle {
                    color: #BC96FF;
                }                
            }

            .MuiCollapse-root {
                width: 100%;

                .MuiCollapse-wrapperInner {
                    width: 100%;

                    .MuiList-root {
                        width: 100%;
        
                        .MuiListItem-root  {
                            width: 100%;
                            padding-inline: 0;
                            padding-block: 0.3rem;
                            color: #FFFFFF;
        
                            .MuiListItemIcon-root {
                                min-width: 0;
                            }
                        }
                    }
                }
            }

            .compl-txt-area {
                margin-top: 2rem;

                .MuiInputBase-root {
                    background: #2B2B2B;
                    border-radius: 2rem;
                    border: 1px solid #2B2B2B;
                    color: #FFFFFF;
                    caret-color: #BC96FF;
            
                    &.Mui-focused fieldset {
                        border-width: 1px;
                        border-color: #BC96FF;
                    }
                }

                .MuiButtonBase-root {
                    margin-top: 1rem;
                    background: #BC96FF;
                    color: #121112;
                    font-weight: 700;
                    border-radius: 2rem;
                    height: 52px;

                    &:active {
                        scale: 0.99;
                    }
                }
            }
        }
    }

    &.match-drawer {
        width: 100%;

        .MuiDrawer-paper {
            width: 100%;
            max-width: 800px;
            height: 100vh;
            margin: 0 auto;
            background: #000000;

            .match {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 3fr 2.5fr 3fr;
                color: #FFFFFF;
                
                .header, .footer {
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .header {
                    background-image: url("/icons/preloader-header.svg");
                    background-position: bottom;
                    display: flex;
                    justify-content: center;
                    align-items: end;

                    .headline {
                        font-weight: 900;
                    }
                }

                .main {
                    width: 100%;
                    padding-inline: 1.25rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .cards {
                        width: 100%;
                        padding-inline: 2vw;
                        padding-block: 4vh;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .item {
                            width: 9.86vw;
                            min-width: 7.5rem;
                            height: 25.11vh;
                            min-height: 11.25rem;
                            border-radius: 1.25rem;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;

                            &.female {
                                rotate: -15deg;
                                z-index: 1;
                            }

                            &.male {
                                rotate: 15deg;
                                cursor: pointer;
                            }
                        }
                    }

                    .text {
                        width: 100%;
                        text-align: center;
                        font-weight: 400;

                        .caps {
                            font-size: 1.5rem;
                            font-weight: 500;
                        }

                        .no-wrap {
                            white-space: nowrap;

                            &::before {
                                content: ' ';
                            }
                        }
                    }

                    .chat-input {
                        margin-top: 1rem;

                        .MuiInputBase-root {
                            border-radius: 3.75rem;
                            color: inherit;

                            &.Mui-focused fieldset {
                                border-width: 1px;
                                border-color: #BC96FF;
                            }
                        }
                    }
                }

                .footer {
                    background-image: url("/icons/preloader-footer.svg");
                    background-position: top;
                }
            }
        }
    }
}
