.serch-usrs-menu {
    .MuiPaper-root {
        background: #2B2B2B;
        color: #FFFFFF;
        border-radius: 1rem;

        .MuiMenuItem-root:last-of-type {
            color: #FF4365;
        }
    }
}
