@keyframes slideModalDown {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.MuiModal-root {
    .MuiBox-root {
        &.geo-modal {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50vw;
            max-width: 450px;
            border-radius: 12px;
            background-color: #2a2a2a;
            box-shadow: 1.5rem 1.5rem  3rem #00000033;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            opacity: 0;
            animation: slideModalDown 1s ease-in-out forwards;
            animation-delay: 0.8s;

            @media (max-width: 680px) {
                width: 90vw;
            }

            .img {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .text {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .headline {
                    width: 100%;
                    color: #FFFFFF;
                    text-align: center;
                    font-weight: 700;
                    font-size: clamp(1.1rem, 3.5vw, 1.4rem);
                }

                .description {
                    width: 100%;
                    text-align: center;
                    font-weight: 400;
                    font-size: clamp(1rem, 3.5vw, 1.1rem);
                }
            }

            .btns {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                @media (max-width: 680px) {
                    gap: 1rem;
                }

                @media (max-width: 360px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                }

                .btn {
                    width: 100%;
                    min-width: 8rem !important;

                    &.bad {
                        background: transparent;
                        color: #D7FF81;
                        border: 1px solid #D7FF81;
                        border-radius: 3.75rem;
                        transition: all 0.3s ease-in-out;

                        &:active {
                            background: #D7FF81;
                            color: #121112;
                        }
                    }

                    &.success {
                        background: #D7FF81;
                        color: #121112;
                        border: 1px solid #D7FF81;
                        border-radius: 3.75rem;
                    }
                }
            }
        }
    }
}
