#root {
    .notistack-SnackbarContainer {
        margin-top: calc(clamp(2.8rem, var(--nav-bar-h), 5rem) - 1.75rem);
        display: flex;
        justify-content: center;

        .notistack-Snackbar {
            display: flex;
            justify-content: center;

            .plans-timeout {
                margin-top: 15vh;
            }

            .notistack-MuiContent {
                align-items: center;
                flex-wrap: nowrap;

                &-info, &-success, &-warning, &-error {
                    color: #FFFFFF;
                }

                &-info {
                    background: #0070D8;
                }

                &-success {
                    background: #00d8a2;
                }

                &-warning {
                    background: #FFBD38;
                }

                &-error {
                    background: #FF4365;
                }
            }
        }
    }
}
