:root {
    --photos-bg: #2B2B2B;
    --photos-btn-bg: #FF4365;
}

.photos {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    list-style: none;

    &__item {
        position: relative;
        width: 26vw;
        height: 28vw;
        background: var(--photos-bg);
        border-radius: 1.2rem;
        max-height: 200px;
        max-width: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .delete {
            position: absolute;
            width: 6vw;
            height: 6vw;
            background: var(--photos-btn-bg);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            bottom: 1rem;
            right: 1rem;
            cursor: pointer;
            max-width: 20px;
            max-height: 20px;
        }
    }
}
