:root {
    .player-btn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.2rem;
        background: #FFFFFF1F;
        background-blend-mode: multiply;
        background-color: #0000004e;
        background-size: cover;
        background-repeat: no-repeat;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
        border: 1px solid #777777;

        &.disabled {
            cursor: not-allowed;
        }

        &.activeted {
            cursor: pointer;
            transition: scale 0.1s ease;

            &:active {
                scale: 0.98;
            }
        }

        .MuiSkeleton-root {
            width: 100% !important;
            height: 100% !important;
            background: #393939;
        }

        .error {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.2rem;
        }
    }
}
