#root {
    --default-radio-color: #353535;
    --checked-radio-color: #D7FF81;
    --transition-time: .7s;

    .MuiRadioGroup-root {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3vh;

        .MuiFormControlLabel-root {
            width: 100%;
            border: 2px solid #353535;
            border-radius: 1em;
            padding: 0.4em 1.4em;
            margin-left: 0px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            transition: border-color ease var(--transition-time);

            &:has(.Mui-checked) {
                border-color: var(--checked-radio-color);
            }
        }
    }

    .css-13lvt8g-MuiButtonBase-root-MuiRadio-root{
        color: var(--default-radio-color);
        transition: color ease var(--transition-time);
        background: transparent;

        &.Mui-checked {
            color: var(--checked-radio-color);
        }
    }
}