#root {
    .scroll-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.7rem;
    
        .item {
            width: 30%;
            height: 0.3rem;
            background: #D7FF81;
            border-radius: 0.8rem;
            opacity: 0.5;
    
            &.selected {
                opacity: 1;
            }
        }
    }
}
