@font-face {
	font-family: 'CraftworkGrotesk';
	src: url('./fonts/craftwork-grotesk/craftworkgrotesk.eot');
	src: url('./fonts/craftwork-grotesk/craftworkgrotesk.eot?#iefix') format('embedded-opentype'),
		url('./fonts/craftwork-grotesk/craftworkgrotesk.woff2') format('woff2'),
		url('./fonts/craftwork-grotesk/craftworkgrotesk.woff') format('woff'),
		url('./fonts/craftwork-grotesk/craftworkgrotesk.ttf') format('truetype'),
		url('./fonts/craftwork-grotesk/craftworkgrotesk.svg#craftworkgrotesk') format('svg');
}

@font-face {
	font-family: 'Inter Regular';
	src: url('./fonts/inter-regular/inter_regular.eot');
	src: url('./fonts/inter-regular/inter_regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/inter-regular/inter_regular.woff2') format('woff2'),
		url('./fonts/inter-regular/inter_regular.woff') format('woff'),
		url('./fonts/inter-regular/inter_regular.ttf') format('truetype'),
		url('./fonts/inter-regular/inter_regular.svg#inter_regular') format('svg');
}

:root {
    --preloader-ctx-color: #FFFFFF;
    --preloader-loader-color: #BC96FF;
}

html, body {
    width: 100%;
    height: 100lvh;
    overflow: hidden;
}

body, p {
    font-family: 'Inter Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'CraftworkGrotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
}

body {
    background: var(--primary-bg-color);
    color: var(--primary-color);

    &::-webkit-scrollbar {
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: visible;
    }
}

#root {
    width: 100%;
    height: 100vh;
}

#preloader {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: var(--preloader-ctx-color);
    opacity: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    animation: fadeIn 2s ease-in-out forwards;
}

.preloader__box {
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.preloader__header,
.preloader__main,
.preloader__footer {
    width: 100%;
    height: 100%;
}

.preloader-img {
    width: 100%;
    height: 32.5vh;
}

.preloader__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
