.default-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        width: 100%;
        height: 100vh;
        max-width: 800px;
        overflow: hidden;

        .btn-right {
            width: 100%;
            display: flex;
            justify-content: end;

            .link {
                width: 20vw;
                min-width: 12rem;
            }
        }

        .link {
            height: 3rem;
            width: 100%;
            display: block;
            border-radius: 3rem;
        
            .MuiButton-root {
                width: 100%;
                height: 100%;
                border-radius: 3rem;
            }
        }

        .desc-head-nav {
            width: 100%;
            max-width: 800px;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: fixed;
            top: 0;
            background: transparent;
            z-index: 7;
        }

        .logo-header {
            width: 100%;
            height: 12vh;
            max-height: 5rem;
            max-width: 800px;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            background: #000000;
            z-index: 6;
            
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 0.5rem;
                filter: blur(5px);
                background: linear-gradient(#000000, transparent);
                box-shadow: 0 0.5rem 0.5rem #000000c9;
            }

            .logo {
                width: 30vw;
                max-width: 200px;

                @media (max-width: 340px) {
                    width: 27vw;
                }
            }
        }
    }
}
