@use "../components/mixins";

:root {
    --play-shadow-color: #D7FF81;
}

.ep-layout {
    width: 100%;
    height: 100%;
    padding-inline: 8vw;
    padding-block: calc(var(--box-header-height) + 2rem) 8vh;
    overflow: auto;

    .opacity {
        opacity: 0;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 0.8rem;
        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

        @keyframes videoShadowPlay {
            
            0% {
                filter: drop-shadow(0 0 0 var(--play-shadow-color));
            }

            50% {
                filter: drop-shadow(0 0 0.5rem var(--play-shadow-color));
            }

            100% {
                filter: drop-shadow(0 0 0 var(--play-shadow-color));
            }
        }

        .preview-img {
            cursor: pointer;
            animation: videoShadowPlay 1s ease-in-out 10;
            
            &:hover {
                filter: drop-shadow(0 0 0.3rem var(--play-shadow-color));
                animation: none;
            }

            &.disabled {
                opacity: 0.8;
                cursor: not-allowed;
                animation: none;

                &:hover {
                    filter: none;
                }
            }
        }
    }

    .ep-plans, .ep-location {
        .headline, .description, .info {
            width: 100%;
            text-align: center;
            font-weight: 400;
        }

        .headline {
            font-weight: 900;
            font-size: clamp(1.6rem, 3vw, 2rem);
        }

        .description {
            margin-top: 0.6rem;
            font-size: clamp(1rem, 3vw, 1.4rem);
        }
    }
}
