:root {
    --quest-outlet-h: 85vh;
    --nav-bar-h: 15vh;
}

.quest-layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: var(--quest-outlet-h) var(--nav-bar-h);

    &::-webkit-scrollbar {
        display: none;
    }

    .quest-outlet {
        align-self: start;
        width: 100%;
        height: var(--quest-outlet-h);
    }

    .nav-bar {
        align-self: end;
        width: 100%;
        height: var(--nav-bar-h);
    }
}
