:root {
    --quest-outlet-h: 88vh;
    --nav-bar-h: 12vh;
    --match-bg: #000000;
}

.quest-layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: var(--quest-outlet-h) var(--nav-bar-h);

    &::-webkit-scrollbar {
        display: none;
    }

    @keyframes fadeInSlotDown {
        0% {
            opacity: 0;
            top: -50%;
            visibility: visible;
        }
    
        100% {
            opacity: 1;
            top: 0;
            visibility: visible;
        }
    }

    .quest-outlet {
        align-self: start;
        width: 100%;
        height: var(--quest-outlet-h);
        padding-top: clamp(2.8rem, var(--nav-bar-h), 5rem);

        &:has(.profile), &:has(.psychologists) {
            .quest-nav-head {
                display: none;
            }
        }
    }

    .nav-bar {
        align-self: end;
        width: 100%;
        height: var(--nav-bar-h);
    }
}
