.filling-quest {
    width: 100%;
    height: 100%;
    padding: 5vh 8vw 8vh 8vw;
    overflow: auto;
    opacity: 0;

    &__header {
        width: 100%;
        margin-top: 3.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .text {
            .headline {
                width: 100%;
                text-align: start;
                font-weight: 900;
            }

            .description {
                width: 100%;
                margin-top: 0.5rem;
                text-align: start;
                font-weight: 100;
                opacity: 0.5;
            }
        }

        .video {
            cursor: pointer;

            svg {
                transition: all 0.2s ease-in-out;

                &:hover {
                    filter: drop-shadow(0 0 0.3rem #ffffff7f);
                }
            }

            &__media {
                top: 0;
                left: 0;
                position: absolute;
                z-index: 10;

                .MuiPaper-root {
                    background: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .container {
                        width: 100%;
                        max-width: 800px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 5vh;

                        @media (max-width: 800px) {
                            padding-inline: 1rem;
                        }

                        .headline {
                            width: 100%;
                            text-align: center;
                            color: #FFFFFF;
                        }
    
                        .video {
                            width: 100%;
                            height: 50vh;
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }

    &__ctx {
        width: 100%;
        margin-top: 5.6vh;

        .widgets {
            width: 100%;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2.5rem;

            &__photo {
                width: 100%;

                .headline {
                    width: 100%;
                    text-align: start;                    
                }

                .items {
                    width: 100%;
                    margin-top: 1rem;
                    border-radius: 1.3rem;
                }
            }

            &__inputs {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.2rem;
            }

            &__my-sex {
                width: 100%;

                .select {
                    width: 100%;
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;
                    
                    &__item {
                        width: 100%;

                        &:first-of-type {
                            justify-self: start;
                        }

                        &:last-of-type {
                            justify-self: end;
                        }
                    }
                }
            }

            &__age {
                width: 100%;

                .age-input {
                    margin-block: 0.7rem;
                }

                .description {
                    opacity: 0.5;
                }
            }

            &__bio {
                width: 100%;

                .headline {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .count {
                        font-size: 1rem;
                        opacity: 0.8;
                    }
                }

                .bio-input {
                    margin-top: 1rem;

                    .MuiInputBase-root {
                        border-radius: 2rem !important;
                    }
                }
            }

            &__interests, &__selection-sex {
                width: 100%;

                .headline {
                    width: 100%;
                    text-align: start;
                }

                .select {
                    width: 100%;
                    margin-top: 1rem;
                    display: grid;
                    grid-template-areas: "first second third";
                    gap: 1rem;

                    @media (max-width: 460px) {
                        grid-template-areas:
                            "first second"
                            "third third";
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}
