@use "../components/mixins";


.chats {
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3rem 10fr;

    &:has(.loader),
    &:has(.empty) {
        grid-template-rows: 1fr;
    }


    &__head {
        width: 100%;
        height: 100%;
        padding-top: 0.5rem;
        overflow: hidden;
        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

        .headline {
            width: 100%;
            height: 20%;
            font-weight: 900;
        }
    }

    &__ctx {
        margin-top: 0.5rem;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

        .shadow {
            position: fixed;
            width: 100%;
            height: 1rem;
            background: linear-gradient(#000000, transparent);
            left: 0;
            z-index: 100;
        }

        .list {
            margin-block: 1.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 3vh;

            .inner {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 2fr 1fr;
                justify-content: space-between;
                align-items: center;
                gap: 1.5vw;

                &__text {
                    min-width: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                    .headline, .msg {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .headline {
                        font-size: clamp(1.1rem, 3vw, 1.4rem);
                        font-weight: 900;
                    }

                    .msg {
                        font-size: clamp(0.8rem, 3vw, 1.1rem);
                        margin-top: 0.5vh;
                    }
                }

                &__trigger {
                    justify-self: right;

                    .label {
                        position: relative;
                        padding: 0.3rem 0.6rem;
                        border-radius: 3.75rem;
                        font-weight: 600;
                        font-size: clamp(0.8rem, 3vw, 1rem);
                        background: #D7FF81;
                        color: #371F7D;

                        &.null {
                            background: transparent;
                            color: transparent;
                        }

                        .timer {
                            position: absolute;
                            top: -45px;
                            right: 0;
                            color: #371F7D;
                        }
                    }
                }
            }
        }
    }
}