@use "../components/mixins";

.chats {
    width: 100%;
    height: 72vh;
    padding-inline: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 5fr;

    &:has(.loader) {
        grid-template-rows: 1fr;
    }

    &__head {
        width: 100%;
        height: 100%;
        min-height: 6.5rem;
        overflow: hidden;
        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

        .headline {
            width: 100%;
            height: 20%;
            font-weight: 900;
        }

        .history {
            width: 100%;
            height: 70%;
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            overflow-x: auto;
            gap: 1.5rem;

            .item {
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    filter: drop-shadow(0 0 0.3rem #ffffff7f);
                }

                &:active {
                    scale: 0.98;
                }
                
                .MuiBadge-badge {
                    cursor: pointer;
                    background: #BC96FF;
                    color: #371F7D;
                    bottom: 10px;
                    right: 5px;
                }
            }
        }
    }

    &__ctx {
        padding-block: 1rem 3rem;
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        overflow: auto;
        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

        .list {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 3vh;

            .inner {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 2fr 1fr;
                justify-content: space-between;
                align-items: center;
                gap: 1.5vw;

                &__text {
                    min-width: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                    .headline, .msg {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .headline {
                        font-size: clamp(1.1rem, 3vw, 1.4rem);
                        font-weight: 900;
                    }

                    .msg {
                        font-size: clamp(0.8rem, 3vw, 1.1rem);
                        margin-top: 0.5vh;
                    }
                }

                &__trigger {
                    justify-self: right;

                    .label {
                        position: relative;
                        padding: 0.3rem 0.6rem;
                        border-radius: 3.75rem;
                        font-weight: 600;
                        font-size: clamp(0.8rem, 3vw, 1rem);
                        background: #D7FF81;
                        color: #371F7D;

                        .timer {
                            position: absolute;
                            top: -45px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}