@use "../components/mixins";


.psychologists {
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
    display: grid;
    grid-template-rows: clamp(10rem, calc(14rem - 11vw), 13rem) 1fr;

    &__header {
        width: 100%;
        height: 100%;

        .headline {
            font-weight: 900;
        }

        .text {
            font-weight: 300;
            margin-top: 2vh;
        }

        .search-input {
            margin-top: 2vh;
        }
    }

    &__ctx {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;

        .headline {
            width: 100%;
            position: relative;
            font-weight: 900;
            margin: 0;
            margin-block: 1rem 0.8rem;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                bottom: -20px;
                left: 0;
                background: linear-gradient(#000000, transparent);
                height: 10px;
                z-index: 10;
            }

            @media (max-width: 322px) {
                margin-top: 1.2rem;
            }
        }

        .empty {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);
        }

        .list {
            width: 100%;
            padding-block: 1rem 1.5rem;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 3vh;
            @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

            .inner {
                width: 100%;
                display: grid;
                grid-template-columns: 2fr 1fr;
                justify-content: space-between;
                align-items: center;
                gap: 1.5vw;
                
                &__desc {
                    min-width: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                    .headline, .text, .label {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .headline {
                        padding: 0;
                        margin: 0;
                        font-size: 1.1rem;
                    }

                    .text {
                        margin-top: 0.2rem;
                        opacity: 0.5;
                        font-weight: 100;
                    }

                    .label {
                        color: #D7FF81;
                        font-weight: 100;

                        &.off {
                            color: #FF4365;
                        }
                    }
                }

                &__exp {
                    justify-self: right;
                    font-size: 0.9rem;
                    white-space: nowrap;
                }
            }
        }
    }
}
