@use "../components/mixins";

.slider {
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding-inline: 1rem;

    &__poster {
        width: 100%;
        // height: 72vh;
        height: 100%;
        align-self: start;
        padding-bottom: 2vh;
        display: flex;
        justify-content: center;

        @media (max-height: 660px) {
            height: 69vh;
        }

        .poster__ctx {
            width: 100%;
            max-width: 800px;
            height: 70vh;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

            .carousel-container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                
                .carousel-track {
                    display: flex;
                    gap: 16px;
                    perspective: 10000px;

                    .carousel-slide {
                        height: 70vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex: 0 0 100%;
                        width: 0;
                        transform-style: preserve-3d;

                        @media (max-height: 660px) {
                            height: 67vh;
                        }

                        .slide {
                            position: relative;
                            width: 100%;
                            max-width: 370px;
                            height: 100%;
                            user-select: none;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            background-blend-mode: multiply;
                            background-color: #1010100d;
                            box-shadow: inset 0 0 1rem #00000080;
                            border-radius: 1.2rem;
                            padding: 0.8rem;
                            display: grid;
                            grid-template-rows: 1fr 1fr;
                            position: relative;
                            transition: opacity 0.3s ease-in-out;

                            &::before, &::after {
                                content: "";
                                position: absolute;
                                height: 2rem;
                                width: 100%;
                                left: 0;
                            }

                            &::before{
                                background: linear-gradient(to bottom, #0000008c, transparent);
                                top: 0;
                            }

                            &::after {
                                bottom: 0;
                                background: linear-gradient(to top, #0000008c, transparent);
                            }

                            &__nav {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                display: grid;
                                grid-template-columns: 2fr 3fr 2fr;
                                z-index: 3;

                                .item {
                                    user-select: none;
                                    cursor: pointer;
                                    width: 100%;
                                    height: 100%;

                                    &:active {
                                        background: transparent;
                                    }
                                }
                            }

                            &__header {
                                align-self: start;
            
                                .labels {
                                    width: 100%;
                                    display: flex;
                                    justify-content: left;
                                    margin-top: 1rem;

                                    .label {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        align-items: center;
                                        gap: 0.5rem;
                                        background: #D7FF81;
                                        color: #121112;
                                        border-radius: 3.75rem;
                                        padding: 0.1rem 0.3rem;
                                    }
                                }
                            }
            
                            &__footer {
                                align-self: end;
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;
            
                                .text {
                                    width: 100%;
                                    cursor: pointer;
                                    z-index: 5;
            
                                    .headline {
                                        width: 100%;
                                        font-size: clamp(1.3rem, 3vw, 1.6rem);
                                        font-weight: 700;
                                    }
            
                                    .description {
                                        width: 100%;
                                        font-size: clamp(0.8rem, 3vw, 1rem);
                                        margin-top: 0.5rem;
                                        font-weight: 400;
                                    }
                                }
            
                                .panel {
                                    width: 100%;
                                    min-height: 2rem;
                                    background: #00000047;
                                    border-radius: 3.7rem;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    align-items: center;
                                    padding: 0.5rem;
                                    gap: 1vw;
                                    z-index: 1;

                                    > .text {
                                        width: 100%;
                                        text-align: end;
                                        font-size: 0.7rem;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
            
                                .btns {
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: 2fr 1fr 2fr;
                                    z-index: 5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
