@use "../components/mixins";

.user-info {
    width: 100%;
    height: 100vh;
    padding: 9vh 8vw 8vh 8vw;
    overflow: auto;

    &__ctx {
        width: 100%;
        margin-top: 3rem;
        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

        .headline {
            width: 100%;
            font-weight: 900;
        }

        .complaints-slider {
            height: auto;

            .MuiPaper-root {
                margin-block: 0.5rem 1.5rem;
                border-radius: 1.25rem;
                padding: 0.8rem;
                background: #2B2B2B;
                color: #FFFFFF;

                --sub-headline-size: clamp(1rem, 3vw, 1.4rem);

                .title {
                    color: #FF4365;
                    font-size: var(--sub-headline-size);
                    font-weight: 500;
                }

                .block {
                    width: 100%;
                    margin-top: 0.5rem;

                    .line {
                        height: 0.1rem;
                        width: 100%;
                        opacity: 0.1;
                        background: #FFF;
                        margin-top: 0.2rem;
                    }

                    [class$="-info"] {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .sub-headline {
                            font-weight: 700;
                            font-size: var(--sub-headline-size);
                        }
                    }

                    .speaker-info {

                        [class$="-user"] {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }

                        .from-user {
                            width: 100%;

                            .user-id {
                                color: #BC96FF;
                                text-decoration: none;
                            }
                        }

                        .date-user {
                            width: 100%;

                            .sub {
                                font-size: clamp(0.9rem, 3vw, 1.2rem);

                                &:last-of-type {
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        &:has(.complaints-slider) {
            .photos {
                margin-top: 2rem !important;
            }
        }

        .complaint-info {
            margin-block: 0.5rem 1.5rem;
            border-radius: 1.25rem;
            padding: 0.8rem;
            background: #2B2B2B;

            --sub-headline-size: clamp(1rem, 3vw, 1.4rem);

            .title {
                color: #FF4365;
                font-size: var(--sub-headline-size);
                font-weight: 500;
            }

            .block {
                width: 100%;
                margin-top: 0.5rem;

                .line {
                    height: 0.1rem;
                    width: 100%;
                    opacity: 0.1;
                    background: #FFF;
                    margin-top: 0.2rem;
                }

                [class$="-info"] {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .sub-headline {
                        font-weight: 700;
                        font-size: var(--sub-headline-size);
                    }
                }

                .speaker-info {

                    [class$="-user"] {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .from-user {
                        width: 100%;

                        .user-id {
                            color: #BC96FF;
                            text-decoration: none;
                        }
                    }

                    .date-user {
                        width: 100%;

                        .sub {
                            font-size: clamp(0.9rem, 3vw, 1.2rem);

                            &:last-of-type {
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }

        .description {
            width: 100%;
            margin-top: 2rem;

            .headline {
                font-weight: 700;
            }

            .labels {
                width: 100%;
                margin-top: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 0.8rem;

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.3rem 0.4rem;
                    border-radius: 3rem;
                    color: #000000;

                    &:first-of-type {
                        background: #D7FF81;
                    }

                    &:last-of-type {
                        background: #BC96FF;
                        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);
                    }

                    .text {
                        text-align: center;
                    }

                    span {
                        font-weight: 600;
                    }

                    &.off {
                        background: #FF4365;
                        color: #FFFFFF;
                    }

                    &.warn {
                        opacity: 0.7;
                    }
                }
            }

            .info {
                width: 100%;
                margin-top: 1rem;
                word-break: break-all;
            }
        }
    }

    &__btns {
        width: 100%;
        display: flex;
        margin-top: 3rem;
        flex-direction: column;
        gap: 1.3rem;
        @include mixins.fadeIn(1.2s, ease-in-out, 0s, forwards);

        .link {
            &__btn {
                color: #FFFFFF !important;
            }

            .block {
                background: #FF4365 !important;
            }

            .take-pro {
                background: #bc96ff !important;
            }

            .take-away-pro {
                background: transparent !important;
                border: 2px solid #bc96ff;
            }

            .MuiButtonBase-root:disabled {
                opacity: 0.7;
            }
        }
    }
}
